.fade {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}
 
.fade:hover {
opacity: 0.5;
}

.card{
width: 200px; /* Need this set to Actual Card values */
height: 200px; /* Need this set to Actual Card values */
position: relative;
transition: transform 1s;
transform-style: preserve-3d;
}

.card__face {
position: absolute;
height: 100%;
width: 100%;
backface-visibility: hidden;
}

.card__face--front {
background: inherit;
}
  
.card__face--back {
background: lightgray;
transform: rotateY( 180deg );
} 

.card.is-flipped {
transform: rotateY(180deg);
}
